streamlit==1.45.1
streamlit-option-menu==0.4.0
pandas==2.2.3
numpy==2.2.5
matplotlib==3.10.0
seaborn==0.13.2
scikit-learn==1.6.1
scikit-fuzzy==0.5.0
catboost==1.2.8
plotly==6.1.2
scipy==1.15.3
networkx==3.5
